%div{ :dojoType => "dijit.layout.ContentPane", :title => "Listing User" }
  %table
    %tr
      %th UID
      %th Username
      %th Firstname
      %th Lastname
      %th City
      %th State
      %th Lastlogin
      %th Enabled
      %th Logintotal
      %th{ :colspan => 1 } Actions
    - @users.each do |user|
      %tr
        %td
          =h user.id
        %td
          = link_to user.username, user
        %td
          =h user.firstname
        %td
          =h user.lastname
        %td
          =h user.city
        %td
          =h user.state
        %td
          =h user.lastlogin
        %td
          =h user.enabled
        %td
          =h user.logintotal
        %td
          = link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete
