%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang=> "en" }
%head
  %meta{ :httpequiv => "content-type", :content=> "text/html;charset=UTF-8" }
  %title
    Users:
    = controller.action_name

  %script{ :type=> "text/javascript", :src=>"/javascripts/dojo/dojo/dojo.js", :djConfig=>"parseOnLoad: true" }
  %script{ :type=> "text/javascript" }
    dojo.require("dojo.parser")
    dojo.require("dijit.Dialog");
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.AccordionContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.form.Button");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.SimpleTextarea");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.CheckBox");
  %link{ :href=> "/javascripts/dojo/dojo/resources/dojo.css", :rel=>"stylesheet", :type=>"text/css", :media=>"screen" }
  %link{ :href=>"/javascripts/dojo/dijit/themes/tundra/tundra.css", :rel=>"stylesheet", :type=>"text/css", :media=>"screen"}
%body.tundra
