%p
  This is the web based administration console for Telegard/2. From this interface,
  system operators can perform many tasks such as:
%ul
  %li Configure runtime settings
  %li Administer Message & File Areas
  %li See who's online
  %li Review caller history
  %li Manage Users & Groups
  %li Perform Maintenance tasks such as Database Backups
  %li etc...
